@import "common";

.container {
  background-color: fade_out($main-background, .3);
  position:relative;
  margin:0;
  &.sidebar {
    height: 100%;
  }
}

.window {
  border-radius:.5em;
  position:absolute;
}

.interface {
    width:calc(100% - 1em);
    height:calc(100% - 1em);
    margin:.5em;
    padding:.5em;
    border:1px solid $main-font;
    background-color: $main-background;
    border-radius:.5em;
    box-sizing:border-box;
}

.date-note {
  color:darken($main-font, 25%);
  font-size:85%;
  margin-right:.5rem;
}
