@import "common";

.container {
  background-color: fade_out($main-background, .3);
  position:relative;
  margin:0;
  &.sidebar {
    height: 100%;
  }
}

.window {
  border-radius:.5em;
  position:absolute;
}

.interface {
    width:calc(100% - 1em);
    height:calc(100% - 1em);
    margin:.5em;
    padding:.5em;
    border:1px solid $main-font;
    background-color: $main-background;
    border-radius:.5em;
    box-sizing:border-box;
}

.date-note {
  color:darken($main-font, 25%);
  font-size:85%;
  margin-right:.5rem;
}

.svg-icon {
  height:1.2rem;
  line-height:1rem;
  margin-right:-.3rem;
  margin-top:-.25rem;
  margin-bottom:.45rem;
  transform:translateY(.6rem);
  stroke-width: .05rem;
  stroke: $main-font;
  //fill: #FF0000; // rgba(0,0,0,0);
  //path {
  //  fill-opacity: 1 !important;
  //  fill: #ff0000 !important;
  //}
}

.tooltipContainer {
  position:relative;
  display:inline-block;
  font-weight:initial;
  animation: none;
}

button {
  background: transparent;
  border-radius: .5em;
  padding: .5rem;
  border: 1px solid $main-font;
  color: $main-font;
  margin: .5rem;
  display: inline-block;
  &:hover {
    background:fade_out($main-font, .66);
    color:lighten($main-font, 15%);
  }
}
