@import "common";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

.container {
  background-color: fade_out($main-background, .3);
  position:relative;
  margin:0;
  &.sidebar {
    height: 100%;
  }
}

.window {
  border-radius:.5em;
  position:absolute;
}

.interface {
    width:calc(100% - 1em);
    height:calc(100% - 1em);
    margin:.5em;
    padding:.5em;
    border:1px solid $main-font;
    background-color: $main-background;
    border-radius:.5em;
    box-sizing:border-box;
}

.modal-screen {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .interface {
    width:auto;
    min-width:33%;
    height:auto;
  }
}

.date-note {
  color:darken($main-font, 25%);
  font-size:85%;
  margin-right:.5rem;
}

.svg-icon {
  height:1.2rem;
  line-height:1rem;
  margin-right:-.3rem;
  margin-top:-.25rem;
  margin-bottom:.45rem;
  transform:translateY(.6rem);
  stroke-width: .05rem;
  stroke: $main-font;
  //fill: #FF0000; // rgba(0,0,0,0);
  //path {
  //  fill-opacity: 1 !important;
  //  fill: #ff0000 !important;
  //}
}

.tooltipContainer {
  position:relative;
  display:inline-block;
  font-weight:initial;
  animation: none;
}

button {
  background: transparent;
  border-radius: .5em;
  padding: .5rem;
  border: 1px solid $main-font;
  color: $main-font;
  margin: .5rem;
  display: inline-block;
  &:hover {
    background:fade_out($main-font, .66);
    color:lighten($main-font, 15%);
  }
}

$if-dark: fade_out(darken($main-background, 50%), .5);
$if-light: fade_out(darken($main-font, 30%), .5);

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $if-dark $if-light;
  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: $if-dark;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $if-light;
    border-radius: 1rem;
    border: 0; // .1rem solid $if-light;
  }
}

.progress-bar {
  display: inline-block;
  border-radius: 1rem;
  border: 1px solid $main-font;
  min-width: 250px;
  overflow: visible;
  &.feature {
    margin: 2em;
    box-sizing: content-box;
  }
  .progress-min-label {
    font-size:80%;
    margin:0;
    padding:0;
    &.feature {
      position: absolute;
      top: .65em;
      left: 0;
      padding-left:2em;
      transform:translateX(-50%);
    }
  }
  .progress-current {
    height: 1em;
    border-radius: 1rem;
    background: $main-green;
    margin:-1px;
    border: 1px solid $main-font;
    position: relative;
    .progress-current-label {
      font-size:80%;
      margin:0;
      padding:0;
      &.feature {
        position: absolute;
        bottom: -2em;
        right: 0;
        transform:translateX(50%);
      }
    }
  }
  .progress-max-label {
    font-size:80%;
    margin:0;
    padding:0;
    &.feature {
      position: absolute;
      top: .65em;
      right: 0;
      padding-right:2em;
      transform:translateX(50%);
    }
  }
}

.thin {
  font-variation-settings: 'wght' 200;
}

.canvasDisplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#experiment-display {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
