@import "common";
@import "interface";
@import "icons";
@import "clock";

// fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..700&family=Libre+Franklin:wght@100..700');

*,
*::before,
*::after {
  box-sizing: border-box;
}


// init
body {
  margin:0;
  padding:0;
  height:100vw;
  width:100vw;
  background: #000;
  color: $main-font;
  font-family:'Jetbrains Mono', monospace;
  overflow:hidden;
}

#root {
  display: flex;
  width:100vw;
  height:100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1;
  padding:0;margin:0;
}


@keyframes embolden {
  0% {
    font-variation-settings: 'wght' 100;
    color:$main-font;
  }
  60% {
    font-variation-settings: 'wght' 700;
    color:lighten($main-font, 50%);
  }

  100% {
    font-variation-settings: 'wght' 100;
    color:$main-font;
  }
}


.flash {
  // font-size:120%;
  animation: embolden 2000ms infinite forwards;
}


